.movableContainer {
  display: flex;
  align-items: center;
}

.moveOrderButton {
  top: 500px;
  background-color: #8b80b6;
  color: #e3ddff;
  font-size: 16px;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  transition: 0.2s;
  &:hover {
    transition: 0.2s;
    background-color: #bdb3dc;
    color: #393c54;
  }
}
