.wrapper {
  width: 100%;
  padding-bottom: 20px;
  background-color: #897eb5ff;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
}

.phoneContainer {
  display: none;
  height: 100%;
}

.tabletContainer {
  display: none;
  height: 100%;
}

.desktopContainer {
  display: none;
  height: 100%;
}

.formWindow {
  background-color: #ffffff;
  border-radius: 5px;
}

.quizNameContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.updateForm {
  position: relative;
}

.formHeader {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 30px 0;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  background-color: #8b80b6;
}

.quizNameText {
  font-size: 20px;
}

.quizNameInput {
  margin-top: 10px;
  padding: 0 20px;
  width: 80%;
  height: 40px;
  font-size: 16px;
  background-color: #f3f3f3;
  border-radius: 10px;
  &::placeholder {
    color: #c3c7cf;
  }
}

.checkbox {
  width: 15px;
  height: 15px;
  appearance: auto;
  accent-color: #8b80b6;
}

.topSection {
  display: flex;
  align-items: end;
  margin-bottom: 20px;
}

.formContent {
  padding: 10px 20px;
}

.closeUpdateForm {
  width: 30px;
  height: 30px;
  font-size: 20px;
  background-color: #e44061;
  color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 2px 3px #000000;
  position: absolute;
  top: 10px;
  right: 10px;
}

.codeContainer {
  display: flex;
  align-items: center;
  height: 40px;
}

.codeText {
  margin-right: 10px;
  padding: 0 15px;
  height: 100%;
  color: #897eb5;
  font-size: 24px;
  border-radius: 5px;
  background-color: #f3f3f3;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: #8b80b6;
    color: #ffffff;
    transition: 0.3s;
  }
}

.refreshCode {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #9eca8f;
  border-radius: 5px;
  cursor: pointer;
}

.middleSection {
  margin: 20px 0;
}

.bottomSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}

.deleteButton {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
}

.formButton {
  margin: 0 5px;
  padding: 5px 15px;
  border-radius: 3px;
  font-size: 18px;
}

.formButtonsContainer {
  width: 45%;
  display: flex;
  justify-content: space-around;
}

.green {
  background-color: #9eca8f;
  color: #ffffff;
}

.red {
  background-color: #e44061;
  color: #ffffff;
}

.horizontalLine {
  width: 100%;
  height: 2px;
  background-color: #c4c1c1;
}

.checkboxContainer {
  margin-top: 10px;
}

.checkboxDescription {
  margin-top: 5px;
  font-size: 12px;
  color: #c3c7cf;
}

/*  Phone  */
@media only screen and (max-width: 600px) {
  .tabletContainer {
    display: block;
  }

  .formWindow {
    width: 100vw;
  }
}

/*  Table  */
@media only screen and (min-width: 601px) and (max-width: 1140px) {
  .tabletContainer {
    display: block;
  }

  .formWindow {
    width: 70vw;
  }
}

/*  Desktop  */
@media only screen and (min-width: 1141px) {
  .desktopContainer {
    display: block;
  }
}
