@import "./reset";

@font-face {
  font-family: "JetBrainsMono";
  src: local("JetBrainsMono"),
    url("../assets/fonts/JetBrainsMono.ttf") format("truetype");
  font-weight: normal;
}

* {
  font-family: "JetBrainsMono", sans-serif;
}

body {
  /*background-color: #F6F7F7FF;*/
}
