.slider {
  position: relative;
  display: none;
  width: 55vw;
  height: 100vh;

  background-image: url("../../assets/images/auth-background.jpg");
  background-size: cover;
  overflow: hidden;
}

.slider-container {
  position: absolute;
  display: flex;
  transition: 2s;
}

.slider-item {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "JetBrainsMono", sans-serif;
  color: #fff;
  text-shadow: 2px 2px 4px #7e7e7e;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .slider {
    display: none;
  }
  .slider-container {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .slider {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .slider {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .slider {
    display: block;
    position: relative;
    width: 55vw;
  }

  .slider-item {
    width: 55vw;
    font-size: 30px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .slider {
    display: block;
    position: relative;
    width: 65vw;
  }

  .slider-item {
    width: 65vw;
    font-size: 50px;
  }
}
