.wrapper {
  background-color: #fbfbfd;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.errorImage {
  width: 50%;
  object-fit: cover;
  box-sizing: border-box;
}

.errorText {
  text-align: center;
  padding: 0 30px 40px;
}

.button {
  padding: 10px 20px;
  color: #e44061;
  border-radius: 3px;
  transition: 0.4s;

  &:hover {
    background-color: #e44061;
    color: white;
    transition: 0.4s;
  }
}

/*
  Phone
 */
@media only screen and (max-width: 600px) {
  .errorText {
    font-size: 18px;
  }
  .button {
    font-size: 18px;
  }
}

/*
  Table
 */
@media only screen and (min-width: 601px) {
  .errorText {
    font-size: 24px;
  }
  .button {
    font-size: 24px;
  }
}

/*
  Desktop
 */
@media only screen and (min-width: 1200px) {
  .errorText {
    font-size: 28px;
  }
  .button {
    font-size: 28px;
  }
}
