.container {
  margin: 10px auto;
  padding: 20px 0;
  background-color: #e44061;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
  width: 50%;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    transition: 0.4s;
    background-color: rgba(#e44061, 0.4);
    color: #393c54;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    font-size: 10px;
    text-align: center;
    padding: 10px 0;
    margin: 10px auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .nameInput {
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    background-color: #ffffff;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .nameInput {
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    background-color: #ffffff;
  }
}
